html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.header {
    box-sizing: border-box;
    padding: 15px;

    display: flex;
    justify-content: space-between;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Conventional way to place the icon and text (span as element) */
.header > .title {
    font-size: 40px;
    background-image: url(img/library.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50px 50px;
    padding-left: 55px;

    display: inline-block;
    line-height: 2;
}

.header > button {
    height: 25px;
}

.main {
    box-sizing: border-box;
    padding: 15px;

    display: grid;
}

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
}

.emptyText {
    display: block;
    justify-self: center;
}

.cardcontainer > .card {
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
}

form > p {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

input {
    width: 150px;
}

.main > p {
    justify-self: end;
    align-self: end;
}

.main > p > button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main > p > button:hover {
    background-color: #84cc16;
}